---
import { getCollection } from 'astro:content'
import {Image} from 'astro:assets'
import type { CollectionEntry } from 'astro:content'
import BaseLayout from '@layouts/BaseLayout.astro'
import BlogInsight from '@components/blog/BlogInsight.astro'
import HeroSection from '@components/ui/sections/HeroSection.astro'
import FeaturesSection from '@components/ui/sections/FeaturesSection.astro'
import HeroSectionAlt from '@components/ui/sections/HeroSectionAlt.astro'
import blogHeroImg from '../assets/home.avif'

const posts: CollectionEntry<'posts'>[] = (await getCollection('posts'))
    .sort(
        (a: CollectionEntry<'posts'>, b: CollectionEntry<'posts'>) =>
            b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
    )
    .slice(0, 3)
---

<BaseLayout
    title='Bienvenido a TDPBlog'
    description='Un blog moderno y pr치ctico sobre tecnolog칤a y tutoriales.'
>
    <HeroSection
        title="Hola, <span class='text-yellow-500 dark:text-yellow-400'>TDPBlog</span>"
        primaryBtn='Explorar Posts'
        primaryBtnURL='/posts'
        src={blogHeroImg}
        alt='TDPblog'
    />

    <FeaturesSection />

    <section
        class='mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full'
    >
        <div class='max-w-2xl mx-auto mb-10 text-center lg:mb-14'>
            <h2
                class='text-3xl font-bold text-neutral-800 dark:text-neutral-200 md:text-4xl md:leading-tight'
            >
                칔ltima publicaci칩n
            </h2>
            <p class='mt-1 text-pretty text-neutral-600 dark:text-neutral-400'>
                Siempre quiero escribir algo, pero rara vez lo hago realmente.
                游땍
            </p>
        </div>

        <div class='grid gap-6 sm:grid-cols-2 lg:grid-cols-3'>
            {posts.map((b) => <BlogInsight blog={b} />)}
        </div>
    </section>

    <HeroSectionAlt
        title='S칤gueme en GitHub'
        subTitle='Amo el software de c칩digo abierto y tengo algunas herramientas peque침as en mi GitHub. Puedes conocerme mejor revisando mi c칩digo'
        url='https://github.com/Rene-Kuhm'
    />
</BaseLayout>
